---
interface Props {
	image: ImageMetadata;
	name: string;
	title: string;
	years: string;
	url: string;
}

const { image, name, title, years, url } = Astro.props;
---

<div class="flex flex-col items-center py-12 bg-black/80 rounded-lg shadow-lg text-white w-full">
	<div class="size-[260px] rounded-full overflow-hidden mb-4">
		<img src={image.src} alt={name} class="w-full h-full object-cover" />
	</div>
	<h3 class="text-xl font-medium mt-6">{name}</h3>
	<p class="text-sm text-gold mt-3.5">{title}</p>
	<p class="text-sm text-white-text mt-3.5">{years}</p>
	<a
		href={url}
		class="px-6 py-2 mt-12 rounded-full text-black font-medium bg-gradient-to-tr from-gold to-gold-dark hover:opacity-90 transition-opacity"
	>
		Investiční mince
	</a>
</div>
